* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: Arial, sans-serif;
      width: 1250px;
      margin: 0 auto;
  }
  .form-container {
    background-color: #fff;
    /* padding: 5px; */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 50%;
     padding: 10px;/*
    margin-top: 5px;
    margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}
.dob{
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}
button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #218838;
}
.chapter1{
 background-color: aqua;
 
}