* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: Arial, sans-serif;
      width: 1250px;
      margin: 0 auto;
  }
  .form-container {
    background-color: #fff;
    /* padding: 5px; */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 50%;
     padding: 10px;/*
    margin-top: 5px;
    margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}
.dob{
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}
button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #218838;
}
.chapter1{
 background-color: aqua;
 
}
/* Chapter Menu */
.hz_menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px; 
    padding: 0;
    list-style: none; 
  }
  
  .hz_menu li {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
  }
  
  .hz_menu li:hover {
    transform: scale(1.05); 
  }
  
  .hz_menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .hz_menu a:hover {
    background-color: #e0e0e0; 
    color: #007BFF; 
  }
.bg-images{
    background-image:url(../../images/chapters.png);
}  