* {
    box-sizing: border-box;
    }
    .row::after {
    content: "";
    clear: both;
    display: block;
    }
    /* For mobile phones: */
    [class*="col-"] {
    float: left;
    width: 100%;
    }
    @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 { width: 8.33%; }
    .col-m-2 { width: 16.66%; }
    .col-m-3 { width: 25%; }
    .col-m-4 { width: 33.33%; }
    .col-m-5 { width: 41.66%; }
    .col-m-6 { width: 50%; }
    .col-m-7 { width: 58.33%; }
    .col-m-8 { width: 66.66%; }
    .col-m-9 { width: 75%; }
    .col-m-10 { width: 83.33%; }
    .col-m-11 { width: 91.66%; }
    .col-m-12 { width: 100%; }
    }
    @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
    }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	width: 1250px;
	margin: 0 auto;
	/* border: 2px solid tomato; */
}
.headMain {
	width: 100%; 
}
.navSection {
	height: 65px;
  	background-color: #f4f4f4;
  	 box-shadow: 10px;   	
  	width: 100%;	
  	display: flex;
  	justify-content: center; 
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;  
  
}
.logDiv{
	height: 100%;
	display: flex;
	align-items: center;
	
}
.logDiv a{
	text-decoration: none;
}

/* .logo-section svg{
	margin: auto;
} */
.menu-section ul{
	display: flex;
	justify-items: center;
  
}
.menu-section ul li{
	list-style: none;
	position:relative;
  border-radius: 10px;
  background-color: #2c3e50;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
	
}
.menu-section ul li:hover{
  background-color: white;
}
.menu-section ul li a{
	text-decoration: none;
	color: white;
  font-weight: bolder;
	padding: 10px 20px;
	transition: 1s;
}
.menu-section ul li ul {
		display: none;
		position: absolute;
		top: 100%;
		left: -50%;
		padding: 0;
		padding-top: 20px;
		margin: 0;
		list-style: none;
		z-index: 1000;
		transition: 1s;
		box-shadow: -5px 5px 5px #fff,0px 10px 15px #fff;
}
.menu-section ul li:hover ul {
	display: block;	
	border: 5px;
 }
 .menu-section ul li a:hover{
	color: green;
	font-weight: bolder;
	
}
.inside_menu li a {
	height: 35px;
	width: 150px;
	color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid green;
	padding-top: 15px;
	background-color: white;
	transition: 1s;
	box-shadow: 3px 3px 15px white;
}
.inside_menu li a:hover{
	background-color:aliceblue;
	box-shadow:3px 3px 5px white;
	border-radius: 10px;
	transition: 1s;
}
.course{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;

}
.bg-image{ 
	width: 100%;
	height: 400px;
	background-image: url(../images/backimage.png);
	margin-bottom: 10px;
}
/* Chapter 05 index file css */
.menu05-section ul{
	display: flex;
	justify-items: center;
}
.menu05-section ul li{
	list-style: none;
	position: relative;
	border: 1px;
}
.menu05-section ul li a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
	padding: 10px 10px;
	transition: 1s;
}
.menu05-section ul li a:hover{
	
	font-weight: bolder;
	border: 0.5px solid tomato;
	background-color: black;
	border-radius: 10px;
	transition: 0.5s;
	
}

h2{
  text-align: center;
  color: white;
  
}
/* animition css */
@keyframes my-animation {
  from {
 left: 0;
  }
  to {
 left: 1230px;
  }
 }
 .animition {
  position: relative;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color:#2c3e50;
   animation-name: my-animation;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }
/* profile image contant */
.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border: 5px solid #ddd;
  border-radius: 50%;
}

.profile-details {
  flex-grow: 1;
}

.profile-details h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.profile-details p {
  margin: 5px 0;
  color: #555;
}

.profile-details strong {
  color: #333;
}

.profile-progress,
.profile-details progress {
  width: 100%;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 20px;
  height: 10px;
}

progress::-webkit-progress-value {
  background-color: #4CAF50;
  border-radius: 20px;
  height: 10px;
}

progress::-moz-progress-bar {
  background-color: #4CAF50;
  border-radius: 20px;
}

.profile-progress label {
  font-weight: bold;
  color: #333;
}

h4 {
  margin-top: 20px;
  color: #333;
}

.social-links {
  margin-top: 20px;
}

.social-link {
  text-decoration: none;
  margin-right: 10px;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-link:hover {
  background-color: #333;
  color: #fff;
}

.row a {
	margin: 0 auto;
}
a button{
	padding: 10px;
}
.form-container {
    width: 95%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}
.cbtn button {
    width: 80%;
    padding: 10px;
    background-color: #2f51a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cbtn button:hover {
    background-color: #218838;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #2f51a2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  background-color: #9e1d57;
}

.tbtn button{
	width: 80%;
    padding: 10px;
    background-color: #576e5d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.tbtn button:hover {
    background-color: #218838;
}

/* footer */
.main-footer {
    background-color: #2c3e50;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.sub-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.fter {
    flex-basis: 25%;
    margin-bottom: 20px;
}

.fter h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.fter p,
.fter ul {
    font-size: 14px;
    margin: 5px 0;
}

.fter ul {
    list-style-type: none;
    padding: 0;
}

.fter ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    transition: color 0.3s ease-in-out;
}

.fter ul li a:hover {
    color: #f39c12;
}

.copy {
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #ecf0f1;
    padding-top: 10px;
}


/* .htmlcap{
	width: 100%;
	
}
.htmlcap .manuhtml5{

	height: 500px;
	display: inline;
	
}
.htmlcap .manuhtml5 li a{
	
	text-decoration: none;	
} */
/* html course css */
.hz_menu{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px; 
  padding: 0;
  list-style: none; 
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.hz_menu li {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  background-color: #218838;
}

.hz_menu li:hover {
  transform: scale(1.05); 
}

.hz_menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.hz_menu a:hover {
  background-color: #e0e0e0; 
  color: #007BFF; 
}
