.container1 {
border: 1px solid black;
width: 300px;
height: 100px;
margin-top: 30px;
}
.inline-blocks {
display: inline-block;
border: 1px solid red;
height: 40px;
}
.normal-blocks {
border: 1px solid blue;
}
.container {
    background-color: rgb(255, 0, 0);
    padding: 20px;
    margin: 10px;
}
.container.opacity {
    opacity: 0.5;
}
.container.transparent {
    background-color: rgba(255, 0, 0, 0.5);
}
.child {
    border: 1px solid black;
}
table {
    border: 1px solid green;
}
th {
    border: 1px solid red;
}
td {
    border: 1px solid blue;
}
div {
    border: 1px solid black;
}
.test1 {
    transform: skewX(30deg);
}
.test2 {
    transform: skewY(-10deg);
}
.test3 {
    position: relative;
    top: 60px;
    transform: skew(20deg, 10deg);
}        