.bg-15{
    background-color: beige;
}
.p1 {
    background-color: red;
}
.p2 {
    color: #ff0000;
    background-color: #ff0;
}
.p3 {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 0);
}